name: Test Action

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  windows-adobe-air-version:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          air-version: "32.0"
          accept-license: true
      - name: Check executables
        run: |
          Get-Command mxmlc
          Get-Command compc
          Get-Command adt
          adt -version

  macos-adobe-air-version:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          air-version: "32.0"
          accept-license: true
      - name: Check executables
        run: |
          which mxmlc
          which compc
          which adt
          adt -version

  windows-harman-air-version:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          air-version: "50.0"
          accept-license: true
      - name: Check executables
        run: |
          Get-Command mxmlc
          Get-Command compc
          Get-Command adt
          adt -version
          pwsh -Command {If (adt -license 2>&1 | Select-String -Quiet "DeveloperID="){Exit 1}Else{Exit 0}}

  macos-harman-air-version:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          air-version: "50.0"
          accept-license: true
      - name: Check executables
        run: |
          which mxmlc
          which compc
          which adt
          adt -version
          adt -license 2>&1 | grep -q "No license file"

  ubuntu-harman-air-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          air-version: "50.0"
          accept-license: true
      - name: Check executables
        run: |
          which mxmlc
          which compc
          which adt
          adt -license 2>&1 | grep -q "No license file"

  ubuntu-harman-air-version-major:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          air-version: "50"
          accept-license: true
      - name: Check executables
        run: |
          which mxmlc
          which compc
          which adt
          adt -version
          adt -license 2>&1 | grep -q "No license file"

  ubuntu-harman-air-version-exact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          air-version: "33.1.1.929"
          accept-license: true
      - name: Check executables
        run: |
          which mxmlc
          which compc
          which adt
          adt -version
          adt -license 2>&1 | grep -q "No license file"

  windows-harman-air-license:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          air-version: "50.0"
          accept-license: true
          license-base64: ${{ secrets.AIR_SDK_LICENSE_FILE }}
      - name: Check license
        run: |
          pwsh -Command {If (adt -license 2>&1 | Select-String -Quiet "DeveloperID="){Exit 0}Else{Exit 1}}

  macos-harman-air-license:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          air-version: "50.0"
          accept-license: true
          license-base64: ${{ secrets.AIR_SDK_LICENSE_FILE }}
      - name: Check license
        run: |
          adt -license 2>&1 | grep -q "DeveloperID="

  ubuntu-harman-air-license:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          air-version: "50.0"
          accept-license: true
          license-base64: ${{ secrets.AIR_SDK_LICENSE_FILE }}
      - name: Check license
        run: |
          adt -license 2>&1 | grep -q "DeveloperID="